.b-image{
  width: 100%;
  height: 100vh;  
  background-image: url("./Images/loginPage.jpg");
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form{
  color: black;
  background-color:bisque;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  
  justify-content: center;
}
.chat-box {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}
.message-left {
  text-align: left;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
}

.message-right {
  text-align: right;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 60%;
  margin-left: auto;
}
.user-avatar {
  width: 30px; /* Adjust the size as needed */
  height: 30px;
  border-radius: 50%; /* Make it circular */
  margin-right: 10px; /* Space between image and message */
  vertical-align: middle; /* Aligns image with text */
}
.chatSend{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}


